.App {
  text-align: center;
}

.App button{
  margin-left: 10px;
  background: gold;
  border: transparent;
  padding: 10px;
}

.App textarea,
.App input {
  padding: 10px;
  border: 1px solid gold;
}